<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website" />
        <meta name="theme-color" content="#8260E0" />
        {{- block "head" . }}{{ end -}}

        {{ $mainCss := resources.Get "css/main.scss" | resources.ToCSS | resources.Fingerprint }}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ $mainCss.RelPermalink }}"
        />

        {{- if $plausible := .Site.Params.plausible.domain }}
            {{- $plausibleSrc := "https://plausible.io/js/script.js" -}}
            {{- if .Site.Params.plausible.script -}}
                {{- $plausibleSrc = .Site.Params.plausible.script -}}
            {{- end -}}

            <script defer {{ with .Site.Params.plausible.api -}} data-api="{{ . }}" {{- end }} data-domain="{{ $plausible }}" src="{{ $plausibleSrc }}"></script>
            <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
        {{ end -}}
    </head>
    <body>
        {{ partial "navbar" . }}
        <div class="main-container">{{ block "main" . }}{{ end }}</div>
    </body>
</html>
