<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        <meta property="og:type" content="website" />
        {{- block "head" . }}
            <meta property="og:type" content="website">
        {{ end -}}

        {{ $mainCss := resources.Get "css/main.scss" | resources.ToCSS | resources.Fingerprint }}
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ $mainCss.RelPermalink }}"
        />
    </head>
    <body>
        {{ partial "navbar" . }}
        <div class="main-container">{{ block "main" . }}{{ end }}</div>
    </body>
</html>
