@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Light.ttf"), url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/quicksand-v24-latin-regular.woff2");
}
