@font-face {
    font-family: "Lekton";
    src: url("/fonts/Lekton-Regular.ttf"), url("/fonts/Lekton-Italic.ttf"), url("/fonts/Lekton-Bold.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/quicksand-v24-latin-regular.woff2");
}
