$primary-background: unquote("rgb(var(--primary-background))");
$secondary-background: unquote("rgb(var(--secondary-background))");
$primary-foreground: unquote("rgb(var(--primary-foreground))");
$primary-background-rgb: var(--primary-background);
$secondary-background-rgb: var(--secondary-background);
$primary-foreground-rgb: var(--primary-foreground);
$color-link: var(--color-link);
$color-mark: var(--color-mark);
$text-font: "Lekton", monospace;
$content-width: 50em;
$home-card-opacity: 0.8;
$home-card-blur: 8px;

:root {
    --primary-background: 21, 13, 31;
    --secondary-background: 33, 24, 44;
    --primary-foreground: 207, 179, 212;
    --color-link: #b18fe9;
    --color-mark: #8260e0;
    --logo-color-left: #8884ff;
    --strongest-color: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-background: 236, 178, 236;
        --secondary-background: 225, 152, 225;
        --primary-foreground: 70, 46, 75;
        --color-link: #7447BD;
        --color-mark: #8260e0;
        --logo-color-left: #4e4c94;
        --strongest-color: #000000;
    }
}
