@import "vars";

@keyframes social-entry-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.greeting-area {
    width: 100%;
    height: calc(100vh - 48px); // 40px navbar height + 8px padding
}

.greeting-flex-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: calc(50% - 2vw);
    transform: translateY(-50%);
}

.greeting-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    transition: transform 0.5s;
}

.greeting-welcome:hover {
    transform: scale(1.03);
}

.greeting-welcome span {
    font-size: 50px;
    break-after: always;
    font-family: "Quicksand", sans-serif;
    user-select: none;
}

.greeting-welcome .main-text {
    color: $primary-foreground;
    font-weight: 100;
}

.greeting-welcome .sub-text {
    color: $primary-foreground;
    font-weight: 300;
}

.greeting-socials {
    max-width: 300px;
    justify-content: center;
}

.greeting-socials-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 8px;
    min-width: 250px;
    opacity: 0;
    animation: social-entry-fade-in .5s;
    animation-fill-mode: forwards;
    transition: transform .5s, margin .5s;
}

.greeting-socials-container.hidden {
    opacity: 0;
}

.greeting-socials-container:hover {
    transform: scale(1.05);
    margin: 8px 0;
}

.greeting-socials-image-container {
    width: 36px;
    display: flex;
    flex-direction: column;
}

.greeting-socials-image {
    height: 24px;
    padding-right: 12px;
    color: $primary-foreground !important;
    display: flex;
    justify-content: center;
}

.greeting-socials-text {
    font-size: 20px;
    transition: color .2s;
    font-family: "Quicksand", sans-serif !important;
    color: $primary-foreground !important;
}

.greeting-socials-text:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    .greeting-flex-container {
        display: unset;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20vw;
    }

    .greeting-flex-container .greeting-socials {
        margin-top: 13vw;
    }
}
