@import "vars";
@import "fonts";
@import "navbar";
@import "animations";
@import "404";
@import "markdown";

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-background;
    margin: 0;
    overflow-x: hidden;
}

main {
    max-width: $content-width;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 0 16px;
}

main p {
    line-height: 20px;
    text-align: justify;
}

.main-container {
    display: flex;
    justify-content: center;
}

.text, p, h1, h2, h3, h4, h5, h6 {
    color: $primary-foreground;
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 5px 0;
}

h1 {
    margin-top: 25px;
}

h2 {
    margin-top: 20px;
}

h4 {
    font-weight: 300;
    font-size: 14px;
}

a:not(.no-link-styling) {
    color: $color-link;
    font-family: $text-font;
    text-decoration: none;
    transition: filter .3s;
}

a:not(.no-link-styling):hover {
    text-decoration: underline;
    cursor: pointer;
    filter: brightness(1.2);
}

.no-link-styling {
    color: inherit;
    text-decoration: inherit;
}

mark {
    background-color: unset;
    color: $color-mark;
    text-shadow: 0 0 2px $color-mark;
}

hr {
    width: 100%;
    animation: hr_appear 0.8s cubic-bezier(.17,.84,.44,1);
    color: $primary-foreground;
}

blockquote {
    border-inline-start: 4px solid $primary-foreground;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-left: 0px;
    margin-right: 0px;
}

blockquote > * {
    padding: 2px 12px 2px 8px;
}

.article-card {
    margin-top: 20px;
}

.crypto-container-outer code, .copy-button {
    color: $primary-foreground;
}
