{{ define "main" }}
<main>
    <h1>Posts</h1>

    {{ range .Pages }}
        <hr />

        <article class="article-card">
            <header>
                <span>
                    {{ .PublishDate.Format "2" | humanize }} {{ .PublishDate.Format "January, 2006" }} ·
                    {{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }}
                </span>
                {{ if .Draft }}
                    <span> · Draft</span>
                {{ end }}
                <a href="{{ .RelPermalink }}" style="text-decoration: none;"><h3>{{ .Title }}</h3></a>
            </header>

            <div>
                <p>{{ .Summary }} <a href="{{ .RelPermalink }}">Read more &rsaquo;</a></p>
            </div>
        </article>
    {{ end }}
</main>
{{ end }}
