{{ define "head" }}
{{ $postCount := len .Pages }}
{{ $readingTime := 0 }}
{{ range .Pages }} {{ $readingTime = add $readingTime .ReadingTime }} {{ end }}
<meta property="og:title" content="Posts - janderedev.xyz" />
<meta
    property="og:description"
    content="{{ $postCount }} post{{ if ne $postCount 1 }}s{{ end }} with a total reading time of {{ $readingTime }} minute{{ if ne $readingTime 1 }}s{{ end }}"
/>
<meta property="og:url" content="{{ .RelPermalink }}" />
{{ end }}

{{ define "main" }}
<main>
    <h1>Posts</h1>

    {{ range .Pages }}
        <hr />

        <article class="article-card">
            <header>
                <span class="text">
                    {{ .PublishDate.Format "January 2, 2006" }} ·
                    {{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }}
                </span>
                {{ if .Draft }}
                    <span> · Draft</span>
                {{ end }}
                <a href="{{ .RelPermalink }}" style="text-decoration: none;"><h3>{{ .Title }}</h3></a>
            </header>

            <div>
                <p>{{ .Summary }} <a href="{{ .RelPermalink }}">Read more &rsaquo;</a></p>
            </div>
        </article>
    {{ end }}
</main>
{{ end }}
