{{ define "head" }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:url" content="{{ .RelPermalink }}" />
{{ end }}

{{ define "main" }}
    <main>
        <header>
            <h1>{{ .Title }}</h1>
            <h4>
                {{ $publishDate := .PublishDate.Format "January 2, 2006" }}
                {{ $publishDate }} ·
                {{ if ne $publishDate (.Lastmod.Format "January 2, 2006") }}
                    {{ $editFormat := "January 2" }}
                    {{ if ne (.PublishDate.Format "2006") (.Lastmod.Format "2006") }}
                        {{ $editFormat = "January 2, 2006" }}
                    {{ end }}
                    edited {{ .Lastmod.Format $editFormat }} ·
                {{ end }}
                {{ .ReadingTime }} minute{{ if ne .ReadingTime 1 }}s{{ end }} ·
                <a href="https://github.com/janderedev/janderedev.xyz/commits/master/content/{{ .File.Path }}" target="_blank">History</a>
            </h4>
        </header>

        <hr />

        <div class="article">
            {{ .Content }}
        </div>
    </main>
{{ end }}