<link rel="preload" href="/fonts/Lekton-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Lekton-Italic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Lekton-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/SourceCodePro-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/quicksand-v24-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">