<div class="navbar">
    <div class="navbar-inner">
        <div class="title">
            <a href="/" style="text-decoration: none;">
                <span style="color: var(--logo-color-left);">lea</span><span>.pet</span>
            </a>
        </div>
        <div class="links">
            <a href="/">Home</a>
            <a href="/posts">Posts</a>
            <!-- <a href="/friends">Friends</a> -->
            <a href="/about">About</a>
            <a href="/donate">Donate</a>
        </div>
    </div>
</div>
