{{ define "main" }}
<main style="margin-top: 15vh;">
    <header>
        <h1>Hi. I'm Jan.</h1>
    </header>
    <p>
        <mark>Exercitation</mark> non sit do nulla reprehenderit tempor mollit irure esse. Labore ut Lorem cupidatat consequat incididunt non esse ex dolore deserunt nisi commodo consectetur. Eu officia ad proident sint. Nostrud ea velit officia eu aliqua aute cupidatat qui ipsum enim. Voluptate esse qui culpa do velit nulla deserunt Lorem duis est. Et ad proident excepteur velit adipisicing qui velit ullamco consectetur.
        Lorem ex nostrud Lorem eu adipisicing reprehenderit irure occaecat dolor occaecat quis aliquip magna. Qui id ullamco nostrud deserunt aute. Laboris est dolor cillum cupidatat elit. Irure cillum eu labore non exercitation esse do. Quis aute ea anim culpa enim nostrud deserunt sint amet aliquip ad qui.
    </p>
</main>
{{ end }}
