{{ define "head" }}
{{ $css := resources.Get "css/index.scss" | resources.ToCSS | resources.Fingerprint }}
<link
    rel="stylesheet"
    type="text/css"
    href='{{ $css.RelPermalink }}'
/>
<meta property="og:title" content="Hi. I'm Lea." />
<meta property="og:description" content="Check out my blog, or get in contact with me." />
<meta property="og:image" content='{{ absURL "/favicon.png" }}' />
<meta property="og:image:width" content="80" />
<meta property="og:image:height" content="74" />
{{ end }}

{{ define "main" }}
<main>
    <br style="display: none;" /> <!-- Specifically for readability with terminal browsers -->
    <div class="greeting-area">
        <div class="greeting-flex-container">
            <div class="greeting-welcome">
                <span class="main-text">Hi.</span>
                <span class="sub-text">I'm Lea.</span>
            </div>

            <div class="greeting-socials">
                {{ partial "index/social-link.html" (dict "delay" "1" "svg" "revolt" "href" "https://rvlt.gg/jan" "content" "@lea_") }}
                {{ partial "index/social-link.html" (dict "delay" "2" "svg" "discord" "href" "https://discord.com/invite/4pZgvqgYJ8" "content" "Jаn#2756") }}
                {{ partial "index/social-link.html" (dict "delay" "3" "svg" "github" "href" "https://github.com/janderedev" "content" "JandereDev") }}
                {{ partial "index/social-link.html" (dict "delay" "4" "svg" "misskey" "href" "https://lea.pet/@lea" "content" "@lea@lea.pet") }}
                {{ partial "index/social-link.html" (dict "delay" "5" "svg" "email" "href" "mailto:meow@lea.pet" "content" "meow@lea.pet" "obscured" "true") }}
            </div>
        </div>
    </div>
</main>
{{ end }}
