
<div class="friends-list">
    <style>
        .friends-card {
            width: 100%;
            padding: 16px;
            margin: 24px 0;

            transition: margin 0.5s, transform 0.3s;
    
            background-color: rgb(var(--secondary-background));
            color: rgb(var(--primary-foreground));
            border-radius: 16px;
            user-select: none;

            display: flex;
            flex-direction: row;
            gap: 48px;
            justify-content: left;
            align-items: center;
        }

        .friends-card:hover {
            margin: 28px 0;
            transform: scale(1.01);
        }

        .friends-pfp-text-container {
            display: flex;
            gap: 16px;
        }
    
        .friends-pfp {
            width: 64px;
            height: 64px;
            border-radius: 16px;
        }
    
        .friends-text {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            /* Don't let the quote bully us and take our space :3 */
            gap: 8px;
    
            * {
                margin: 0;
            }
        }

        .friends-name-outer {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    
        .friends-name {
            font-size: 24px;
            font-weight: bold;
        }

        .friends-handle {
            font-size: 14px;
        }
    
        .friends-quote {
            text-align: right;
            flex-grow: 1;
            align-self: flex-start;
            /* Display at the top instead of centered */
    
            margin: 12px;
            margin-left: 24px;
    
            user-select: none;
            font-family: var(--text-font);
            color: color-mix(in srgb, rgb(var(--primary-foreground)) 80%, rgb(var(--primary-background)));
    
            display: inline-grid;
            grid-template-columns: 1fr auto auto;
        }
    
        .quote-icon {
            height: 18px;
            opacity: 0.4;
            margin: 6px;
            transform: translateY(-8px);
        }
    
        .quote-icon-left {
            transform: translateY(-4px) rotate(180deg);
            margin: 0;
        }
    
        .quote-icon-right {
            align-self: self-end;
        }

        @media (max-width: 550px) {
            .friends-card {
                flex-direction: column;
                justify-content: start;
                gap: 16px;
            }

            .friends-pfp-text-container {
                align-self: start;
            }

            .friends-quote {
                margin: 0;
                margin-bottom: -4px;
            }
        }
    </style>

    {{ $friendListUnsorted := $.Site.Data.friends.friends }}
    {{ $friendList := collections.Where $friendListUnsorted "priority" true }}
    {{ range $index, $data := (collections.Shuffle $friendListUnsorted) }}
        {{ if not (eq $data.priority true) }}
            {{ $friendList = $friendList | append $data }}
        {{ end }}
    {{ end }}
    {{ range $index, $data := $friendList }}
        <div class="friends-card">
            <div class="friends-pfp-text-container">
                <img class="friends-pfp" src="{{ $data.avatar }}" />

                <div class="friends-text">
                    <div class="friends-name-outer">
                        <p class="friends-name">
                            {{ $data.name }}
                        </p>
                        {{ if isset $data "handle" }}
                            <p class="friends-handle">
                                {{ $data.handle }}
                            </p>
                        {{ end }}
                    </div>
                    <p class="friends-description">{{ $data.description }}</p>
                    <p class="friends-link-list">
                        {{ range $index, $linkData := $data.links }}
                            {{ if not (eq $index 0) }}
                                &bull;
                            {{ end }}
                            <a class="friends-link" href="{{ $linkData.url }}" target="_blank">
                                {{ $linkData.label }}
                            </a>
                        {{ end }}
                    </p>
                </div>
            </div>

            <div class="friends-quote">
                <div></div> <!-- grid shenanigans because im too stupid to do it right -->
                <span class="quote-text">
                    <svg class="quote-icon quote-icon-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-quote"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"/><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"/></svg>
                    {{ $data.quote }}
                </span>
                <svg class="quote-icon quote-icon-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-quote"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"/><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"/></svg>
            </div>
        </div>
    {{ end }}
</div>
